header{height:100px; display:flex; justify-content:space-between; font-size:30px; font-weight:700;
    padding:0px 30px; line-height:100px;}
.side_box{position:fixed; top:100px; right:-30px; width:0; height:1000px; transition:0.5s; z-index:1;
    border-radius:10px 0px 0px 10px; padding:30px 10px; text-align:center; white-space: nowrap; background:rgb(142, 142, 142);}
.side_box>p{font-size:20px; font-weight:700; color:white;}
.side_box>ul{font-size:20px; font-weight:700; float:left;}
.side_box>ul>li>a{color:white;}
section{width:80%; margin:auto;}
.main_image{width:80%; margin:0px auto 30px; overflow:hidden; opacity:0; transition:5s;}
